fastapi
uvicorn[standard]
python-multipart

langchain-huggingface
langchain
langchain-community
langchain-core
langchain-groq
faiss-cpu
sentence-transformers

pinecone

langchain-google-genai

pyPDF

python-dotenv

requests
pydantic
tqdm

loguru
